<meta charset="utf-8">
<meta name="author" content="Aditya Trivedi & Alykhan Kanji">
<meta name="description" content="Linkbelt, a utility belt for your links.">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ page.title }}</title>
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lato:300,400,700">
<link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
<link rel="icon" href="{{ site.baseurl }}/img/linkbelt.png">
<link rel="apple-touch-icon" href="{{ site.baseurl }}/img/linkbelt.png">
